{% extends "base.html" %}

{% block "title" %}Įrašo kūrimas/redagavimas{% endblock %}

{% block "content" %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md">
            <h2 class="mb-4 text-center">Įrašo kūrimas/redagavimas</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary w-100">Išsaugoti</button>
            </form>
        </div>
    </div>
</div>

<!-- Add to 'mysite/myblog/templates/post_form.html' after the form -->
<!--<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>-->
<!--<script>-->
<!--  tinymce.init({-->
<!--    selector: 'textarea',-->
<!--    menubar: false,-->
<!--    plugins: 'autolink lists link image charmap preview anchor searchreplace visualblocks code fullscreen insertdatetime media table help wordcount autoresize',-->
<!--    toolbar: 'undo redo | blocks | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media table | removeformat | code | help',-->
<!--    height: 450,-->
<!--    branding: false-->
<!--  });-->
<!--</script>-->
<!--{% endblock %}-->