{% extends "base.html" %}

{% block "content" %}
{% if post.cover %}
<img class="card-img-top" src="{{ post.cover.url }}" alt="..."/>
{% endif %}
<div class="card-body">
    <div class="small text-muted">
        {% if post.author.photo %}
        <img class="rounded-circle account-img" style="width: 25px" src="{{ post.author.photo.url }}">
        {% endif %}
        {{ post.author }}, {{ post.date_created|date:"F d, Y H:i" }}
    </div>
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.content|safe }}</p>
    {% if post.author == user %}
    <div>
        <a class="btn btn-secondary" href="{% url 'post_update' post.pk %}">Redaguoti</a>
        <a class="btn btn-danger" href="{% url 'post_delete' post.pk %}">Ištrinti</a>
    </div>
    <hr>
    {% endif %}
    <h5>Komentarai ({{ post.comments_count }}):</h5>
    {% if user.is_authenticated %}
    <h2>Palikite atsiliepimą</h2>
    <form method="post" class="mb-2">
        {% csrf_token %}
        {% load crispy_forms_tags %}
        {{ form | crispy }}
        <button type="submit" class="btn btn-primary">Paskelbti</button>
    </form>
    {% endif %}
    {% for comment in post.comments.all %}
    <small>
        {% if comment.author.photo %}
        <img class="rounded-circle account-img" style="width: 25px" src="{{ post.author.photo.url }}">
        {% endif %}
        {{ comment.author }}, {{ comment.date_created|date:"F d, Y H:i" }}</small>
    <p>{{ comment.content|safe }}</p>
    {% endfor %}
</div>
{% endblock %}