{% extends "base.html" %}

{% block "content" %}
<!--<a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg"-->
<!--                  alt="..."/></a>-->
<div class="card-body">
    <div class="small text-muted">{{ post.author }}, {{ post.date_created|date:"F d, Y H:i" }}</div>
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.content }}</p>
    <hr>
    <h5>Komentarai:</h5>
    {% for comment in post.comments.all %}
    <small>{{ comment.author }}, {{ post.date_created|date:"F d, Y H:i" }}</small>
    <p>{{ comment.content }}</p>
    {% endfor %}
</div>
{% endblock %}