{% extends "base.html" %}

{% block "title" %}Profilis{% endblock %}

{% block "content" %}
{% if user.photo %}
<img class="rounded-circle account-img" style="width: 300px" src="{{ user.photo.url }}">
{% endif %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md">
            <h2 class="mb-4 text-center">Profilis</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% load crispy_forms_tags %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-primary w-100">Pakeisti</button>
            </form>
            <p><a href="{% url 'password_reset' %}" class="btn btn-link w-100">Forgot Password?</a></p>
        </div>
    </div>
</div>
{% endblock %}