{% extends "base.html" %}

{% block "content" %}
<h1 class="display-5 p-4">Mano įrašai</h1>
{% for post in posts %}
<hr>
{% if post.cover %}
<img class="card-img-top" src="{{ post.cover.url }}" alt="..."/>
{% endif %}
<div class="card-body">
    <div class="small text-muted">
        {% if post.author.photo %}
        <img class="rounded-circle account-img" style="width: 25px" src="{{ post.author.photo.url }}">
        {% endif %}
        {{ post.author }}, {{ post.date_created|date:"F d, Y H:i" }}
    </div>
    <h2 class="card-title">{{ post.title }}</h2>
    <p class="card-text">{{ post.content|truncatewords:20|safe }}</p>
    <p>Komentarų: {{ post.comments_count }}</p>
    <a class="btn btn-primary" href="{% url 'post' post.pk %}">Skaityti Daugiau →</a>
</div>
{% endfor %}
{% endblock %}